*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#ffffff;
    color:#111827;
    transition:all .4s ease;

}

body.dark{

    background:#0F172A;

    color:white;

}
body.dark{
    background:#0F172A;
    color:#F8FAFC;
}

/* Navbar */

body.dark .header{
    background:#111827;
}

/* Navigation */

body.dark .nav-link a{
    color:#F8FAFC;
}

body.dark .nav-link a:hover{
    color:#FACC15;
}

/* Hero */

body.dark .hero{
    background:#0F172A;
}

body.dark .hero h1{
    color:white;
}

body.dark .hero p{
    color:#CBD5E1;
}

/* About */

body.dark .about{
    background:#0F172A;
}

body.dark .about h2{
    color:white;
}

/* Cards */

body.dark .card{
    background:#1E293B;
    color:white;
    box-shadow:0 5px 20px rgba(0,0,0,.3);
}

body.dark .card p{
    color:#CBD5E1;
}

body.dark .card a{
    color:#60A5FA;
}

/* Footer */

body.dark .footer{
    background:#020617;
}

body.dark .footer p{
    color:#CBD5E1;
}

body.dark .social-links a{
    color:white;
    border-color:#475569;
}
.header{
    max-width:1200px;
    margin:10px auto;
    background:#0F172A;
    border-radius:50px;
    position:sticky;
    top:15px;
    z-index:1000;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.nav{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:15px 35px;
} 

.logo {
    font-size: 15px;
    font-weight: bold;
    color: white;
}
.nav-link{
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    transition: background-color 0.3s ease;
    color: white;
}
.nav-link a{
    text-decoration: none;
    font-size: 15px;
    color: white;
}
.nav-link a:hover{
    color: #FACC15;
}

.theme-toggle{
    width:55px;
    height:30px;
    border:none;
    border-radius:50px;
    background:#ffffff33;
    position:relative;
    cursor:pointer;
    transition:all .3s ease;
}

.circle{
    position:absolute;
    width:22px;
    height:22px;
    border-radius:50%;
    background:white;
    top:4px;
    left:4px;
    transition:all .3s ease;
}



.theme-toggle.active{

    background:#2563EB;

}

.theme-toggle.active .circle{

    left:29px;

}

.hamburger{
    display:none;
    flex-direction:column;
    gap:5px;
    cursor:pointer;
}

.hamburger span{
    width:25px;
    height:3px;
    background:white;
    border-radius:5px;
}

.hero{
    width:100vw;
    height:100vh;
    background:white;
}

.hero-section{
    max-width:1200px;
    margin:0 auto;
    padding:100px 35px;
}
.hero-content{
    display:flex;
    flex-direction:column;
    gap:20px;

}
.bold{
    color:blue
}
.btn{
    width:150px;
    padding:10px 0;
    border-radius:50px;
    background:#FACC15;
    color:#0F172A;
    font-weight:bold;
    text-align:center;
    cursor:pointer;
}
.hero-content h1{
    font-size:50px;
    color:#0F172A;
}
.hero-content p{
    font-size:20px;
    color:#0F172A;
}

.services{
    max-width:1200px;
    margin:50px auto;
    padding:0 35px;
}
.services h2{
    width:100%;
    display:flex;
    justify-content:center;
    text-align:center;
    color:blue;
    font-size:30px;

}

.about-content{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
    margin-top:50px;
}

.card{
    background:#fff;
    padding:25px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
    border:1px solid rgba(0,0,0,.05);
}

.card:hover{
    transform:translateY(-8px);
}

.card-header{
    display:flex;
    align-items:center;
    gap:12px;
    margin-bottom:20px;
}

.icon{
    font-size:2rem;
}

.card p{
    margin:15px 0;
    color:#555;
}

.card a{
    text-decoration:none;
    color:#2563EB;
    font-weight:600;
}
.footer{

    padding:50px 8%;

    background:#0B0F1A;

    position:relative;

    overflow:hidden;

}

/* Grid Background */

.footer::before{

    content:"";

    position:absolute;

    inset:0;

    background-image:
        linear-gradient(rgba(255,255,255,.05) 1px, transparent 1px),

        linear-gradient(90deg, rgba(255,255,255,.05) 1px, transparent 1px);

    background-size:60px 60px;

    pointer-events:none;

}

.footer-container{

    position:relative;

    display:flex;

    justify-content:space-between;

    align-items:center;

    max-width:1200px;

    margin:auto;

    z-index:2;

}

.footer p{

    color:#8B93A7;

    font-size:15px;

    letter-spacing:1px;

}

.social-links{

    display:flex;

    gap:18px;

}

.social-links a{
    width:50px;
    height:50px;
    border:1px solid rgba(255,255,255,.25);
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    color:rgb(14, 9, 172);
    transition:.3s;
    font-size:18px;
    background:rgb(247, 243, 243)

}

.social-links a:hover{
    background:white;
    color:#111827;
    transform:translateY(-4px);

}




/* Mobile */
@media(max-width:576px){
.header{
    width:95%;
    margin:10px auto;
    border-radius:15px;
    }

.nav{
    padding:18px;
}

.logo{
    font-size:20px;
}

.theme-toggle{
    display:none;
}

.hamburger{

    display:flex;

}

.nav-link{
    display:none;
    position:absolute;
    top:70px;
    left:0;
    width:100%;
    background:#0F172A;
    flex-direction:column;
    text-align:center;
    padding:20px 0;
    gap:20px;
    border-radius:15px;
}

.nav-link.active{
    display:flex;
}

.nav-item{
     width:90%;
    padding-bottom:15px;
    border-bottom:1px solid rgba(255,255,255,.15);

}

.hero-content h1{
    font-size:30px;
    
}
}

/* Tablet */
@media(max-width:768px){
  .header{
    width:95%;

     }

.nav{
    padding:18px 25px;
}

.nav-link{
    gap:25px;
}

.logo{
    font-size:20px;

}
.footer-container{

    flex-direction:column;

    gap:30px;

    text-align:center;

}

}



@media(min-width:993px) and (max-width:1199px){

.header{
    width:95%;
}

.nav-link{
    gap:30px;
}
}

/* Desktop */
@media(min-width:1200px){
    .header{
    max-width:1200px;
   }
}